
body{
  background-color: #cecbcb;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #cecbcb;
  color: rgb(0, 0, 0);
}

button {
  padding: 10px;
  margin: 5px;
  background-color: #89a6ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #282c34;
}


.header-left {
  display: flex;
  gap: 10px;
  justify-content: flex-start; /* Aligns left */
  align-items: center;
}

.header-right {
  display:flex;
  gap: 10px; /* Adds spacing between buttons */
  justify-content: flex-end; /* Aligns right */
  align-items: center;
}


.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Takes full height of the viewport */
  padding: 10px;
}